@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --body-bg-color: hsl(212, 23%, 69%);
  --share-bg-color: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --share-btn-color: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--share-btn-color);
  font-size: 13px;
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  place-content: center;
}
.header {
  font-family: "Manrope";
}

.card-header {
  font-weight: 700;
  color: var(--share-bg-color);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.card {
  background-color: white;
  font-size: 13px;
}

.card-image img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.card-content {
  padding: 1.3rem 1.8rem;
}

.card-text {
  color: var(--share-bg-color);
  font-family: "Manrope";
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.5;
  font-size: 0.9rem;
}

.author_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.author-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
